@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body,
html {
  width: 100%;
  height: auto;
  background-color: #ff4b3a;

}
.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 40px;
  background-image: url("../assets/img/logo.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.texto {
  position: absolute;
  top: 125px;
  left: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 86.84%;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.boton{
    display: inline-block;
    width: 300px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    color: #FF460A;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    bottom: 30px;
}
.cargando{
    width: 11ch;
    height: 40px;
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 350px;
    animation: typing 1s steps(11), blink 0.3s step-end alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-delay: 1s;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}
@keyframes typing {
    from{ width: 0; }
}
@keyframes blink {
    50%{ border-color: transparent; }
}
.imagenes{
  position: absolute;
  bottom: 120px;
  display: flex;
  flex-direction: row;
  z-index: -100;
}
.imagenes img{
  width: 220px;
}
#face1{
  background-repeat: no-repeat;
  background-position: bottom left;  
}
#face2{
  background-repeat: no-repeat;
  background-position: bottom right;
}
